.idea
.vs
*.DotSettings.user
*.sln.iml
*.sln
*.suo
*.VC.db
*.VC.opendb

Binaries
DerivedDataCache
Intermediate
Saved

Content/__ExternalActors__
Content/__ExternalObjects__
Content/Developers
Content/Megascans
Content/MSPresets
/Content/StarterContent/
